footer {
    background-color: #41A58D;
    color: black;
    padding: 20px 0;
    bottom: 0;
    margin-top: auto;
    width: 100%;
  }
  
  .copyright {
    text-align: center;
    margin-top: 20px;
  }
