.root-header {
    height: 58px;
}

.root-header nav ul {
    background-color: #41A58D;
    list-style: none;
    display: flex;
    align-items: center;
    padding: 5px;
}

.root-header nav ul li:not(.logo) {
    margin-right: 20px;
}

.root-header nav ul li:not(:first-child):not(.search-bar):hover {
    background-color: #5EC1A2;
    /* Lighter shade of #41A58D */
    border-radius: 6px;
}

.root-header .nav-link {
    display: flex;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px;
}

.root-header .nav-link .logo-image {
    width: 100px;
}

.root-header .search-bar {
    flex: 1;
}

.root-header .search-bar {
    position: relative;
    display: flex;
    align-items: center;
}

.root-header .search-input {
    padding: 8px;
    border: none;
    border-radius: 5px;
    width: 100%;
}

.root-header .search-btn {
    position: absolute;
    background-color: transparent;
    border: none;
    cursor: pointer;
    right: 3px;
}

.root-header .watchlist-image {
    width: 20px;
    height: auto;
}