.homepage-body {
    margin: 30px 0 0 35px;
}

.content-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.toggle-button-group {
    margin-left: 20px;
}

/* .toggle-button-group: */

.film-container-wrapper {
    overflow-x: auto;
    /* Enable horizontal scrolling */
    padding-bottom: 20px;
    /* Add some bottom padding to ensure space for scrollbar */
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    /* Add gap between containers */
}

.film-container {
    flex: 0 0 auto;
    /* Allow containers to shrink and grow */
    width: 12%;
    display: flex;
    flex-direction: column;
}

.film-container .movie-title {
    width: 100%;
    text-align: center;
}

.film-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}