.login-page {
    display: flex;
    width: 100%;
    align-items: center;
    align-items: stretch;
}

.login-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 500px;
    height: 30px;
    color: #B5B9C7;
}

.login-form .form-group {
    margin-bottom: 20px;
    width: 100%;
}

.login-form .submitButton {
    padding: 10px 20px;
    background-color: #01C6AC;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    width: 300px;
    border-radius: 20px;
}

.login-form .submitButton:hover {
    border: 1px solid #49b996;
    background-color: #49b996;
}

.login-title {
    width: 56%;
}

.login-title h1 {
    font-size: 40px;
    color: #2BD7C0;
}

.login-title h3 {
    font-size: 22px;
    color: #666666;
    font-weight: normal;
}

.login-title {
    margin-top: 15px;
    margin-bottom: 40px;
}

.login-form .credentials {
    margin-right: auto;
    padding: 20px 0 20px 0;
}

.login-form .credentials .active {
    color: #41A58D;
    text-decoration: none;
}

.login-page .picture-container img {
    height: 100%;
}

.login-form .submitButton, .login-form .social-login {
    margin-right: auto;
}

.social-login {
    margin-top: 20px;
}

.login-form .googleButton, .login-form .facebookButton {
    height: 60px;
    width: 40px;
    background-color: white;
    border: 1px solid #EEEEEE;
    margin-right: 20px;
    border-radius: 20px;
    padding: 10px 20px;
}

.googleButton img,
.facebookButton img {
    max-width: 100%;
    /* Ensure the image doesn't exceed the button's width */
    max-height: 100%;
    /* Ensure the image doesn't exceed the button's height */
}

.login-form .social-login p {
    margin-bottom: 20px;
    font-weight: 600;
    margin-left: auto;
}

.login-form .error-message {
    margin-right: auto;
}